.react-calendar__navigation{
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
}

.react-calendar__tile.react-calendar__tile--now{
    background-color:rgba(200, 0, 255,1);
}


.react-calendar__month-view__weekdays__weekday{
    display: flex;
    justify-content: center;
}

abbr{
    text-decoration: none;

}

.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth
{
    background-color:gray;
}

.ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65); /* Przezroczysty czarny kolor tła */
    z-index: 999; /* Aby warstwa była na wierzchu */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .ModalContent {
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255) !important;
  }