.LoginContainer{
    width: 100vw;
    height: 100vh;
    background-color: #7ed0ec;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.LoginLogo{
    height: 100%;
    width: 50%;
    text-align: center;
    font-family: "Georgia", Georgia, serif;
    font-size:350%;
}