.category-tile {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 24px;
  text-align: center;
}

.category-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 475px; /* Ustaw wysokość kontenera obrazka */
  overflow: hidden;
}

.category-img {
  height: 100%; /* Ustaw wysokość obrazka na 100% kontenera */
  object-fit: cover;
  max-width: 100%; /* Ustaw maksymalną szerokość obrazka na 100% kontenera */
  max-height: 100%; /* Ustaw maksymalną wysokość obrazka na 100% kontenera */
}

.category-tile h3 {
  color: black;
  font-size: 24px;
  margin-bottom: 8px;
}

.category-tile p {
  color: black;
  font-size: 16px;
  margin-bottom: 16px;
}
