.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 10px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
  }
  