.container{
    display: grid;
    justify-items: center;
    background-color: black;
    width: 100%;
    color:whitesmoke;
    width: 56%;
    position: relative;
    height: 30vh;
    bottom: 0;
}

h5.error{
    position:fixed;
    bottom: 5px;
    color:red;
}


@media screen and (max-width: 600px) {
    .container{
        position: inherit;
    }
    
    .background-image {
        background-size: cover;
      }
    
    }