a{
    padding-top: 1em;
    display: flex;
    justify-content: center;
    color:white;
    text-decoration: none;
}

form.register{
    display:grid;
    align-content: center;
    justify-items: center;
    width: 25em;
    background-color: black
}

label{
    display: flex;
    justify-content: center;
    color:white;
}

input{
    width: 75%;
	height: 35px;
	background: whitesmoke;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

button{
    font-size: large;
    border: solid 2px;
    border-color: white;
    width: 50%;
}

.alert.alert-danger{
    color:white;
}

@media screen and (max-width: 600px) {

    a{
        padding-top: 1em;
        display: flex;
        justify-content: center;
        color:white;
        text-decoration: none;
    }
    
    form.register{
        margin:0;
        display:grid;
        align-content: center;
        justify-items: center;
        border-radius: 8px;;
        width: 100%;
        background-color: black
    }
    
    label{
        display: flex;
        justify-content: center;
        color:white;
    }
    
    input{
        width: 75%;
        height: 35px;
        background: whitesmoke;
        justify-content: center;
        display: flex;
        margin: 20px auto;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 5px;
    }
    
    button{
        font-size: large;
        border: solid 2px;
        border-color: white;
        width: 50%;
    }


}